html {
  display: block;
  font-family:courier;
  background-color: black;
}

.form {
  display: flex;
  background-color: lightblue;
  flex-grow: 1;
  flex-direction: column;
  padding: 1em;
  margin: auto;
  width: 320px;
  gap: 0.1em;
  margin-top: 1em;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
}
.submit {
  background-color: green;
  color: white;
  resize: none;
  border-radius: 5px;
}
.reset {
  background-color: red;
  color: white;
  border-radius: 5px;
}
.input {
  border-radius: 5px;
}
